# Dependencies
node_modules/

# Build outputs
build/
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# Cache
.cache/
.eslintcache

# Editor settings
.idea/
.vscode/
.DS_Store
