version: '3.3'
services:
  mysql:
    image: mysql:5.7
    container_name: mysql_container
    ports:
      - "3306:3306"
    volumes:
      - mysql_database:/var/lib/mysql
      - ./mysql-init.sql:/docker-entrypoint-initdb.d/mysql-init.sql
    environment:
      MYSQL_PASSWORD: Rootmysql@123
      MYSQL_ROOT_PASSWORD: Rootmysql@123
      MYSQL_DATABASE: vfs_auto_serving
    command: [
      "--init-file=/docker-entrypoint-initdb.d/mysql-init.sql",
      "--default-authentication-plugin=mysql_native_password",
      "--bind-address=0.0.0.0"
    ]
    restart: always

  vfs-auto-serving-api:
    image: vfs_auto_serving_api_build:1.0.0
    ports:
      - 8000:80
    build: ./backend
    volumes:
      - backend-application-logs:/logs
      - /home/dev1079/frames/vfs/videos:/home/dev1079/frames/vfs/videos
      - /home/dev1079/frames/vfs/suspect_images:/home/dev1079/frames/vfs/suspect_images
      - /home/dev1079:/home/dev1079
      - /home/dev1079/frames/vfs/client/suspect_images:/home/dev1079/frames/vfs/client/suspect_images
    environment:
      MYSQL_HOSTNAME: mysql
      MYSQL_USERNAME: root
      MYSQL_PASS: Rootmysql@123
      MYSQL_PORT: 3306
      MYSQL_DB_NAME: vfs_auto_serving
      PROJECT_ENV: development
      ROI_API_ENDPOINT: https://dev.asapi.tusker.ai/api/v1/get_camera_roi_by_user_id
      USER_ID_CV2: '[1]'
      MYSQL_POOL_SIZE: 20
      MYSQL_MAX_OVERFLOW: 30
      MYSQL_POOL_TIMEOUT: 60
      MYSQL_POOL_PRE_PING: "True"
      BASE_DIR: /home/dev1079/frames/vfs/client/suspect_images
      CHECK_RTSP_DATA: ./client_data/check_rtsp_data
      LICENSE_SECRET_KEY: secret_key
      # SUSPECT_DETAILS_API: http://localhost
      TOTAL_CHAIRS_COUNT: '{"1":10, "2":10, "3":10}'
      LOCAL_VIDEOS_PATH: /home/dev1079/frames/vfs/videos
      LOCAL_NGINX_PATH: /home/dev1079
      LOCAL_IP_URL: http://192.168.11.97
      SUSPECT_IMG_DIR: /home/dev1079/frames/vfs/suspect_images
    depends_on:
      - mysql
    restart: always


  vfs-auto-serving-ui:
    image: vfs_auto_serving_ui_build:1.0.0
    ports:
      - 8080:80
    build: ./frontend
    environment:
      REACT_APP_ENV: ${FRONTEND_APP_ENVIRONMENT}
      REACT_APP_IP: ${AUTO_SERVING_API_IP}
      REACT_APP_API_HOST: ${AUTO_SERVING_API_HOST}
    restart: always
    # depends_on:
    #   - vfs-auto-serving-api

  # frontend:
  #   image: ivs_ui_nginx:1.0.0
  #   build: ./
  #   restart: unless-stopped
  #   ports:
  #     - 8088:80

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      # - "443:443"
    volumes:
      - ./frontend/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      # - ./nginx/sites:/etc/nginx/conf.d:ro
      # - /etc/letsencrypt:/etc/letsencrypt:ro



volumes:
  backend-application-logs:
  mysql_database:




